@import url(./Tobey\(1\).css);


.s-main-content {
  background: linear-gradient(rgba(0, 0, 0, 0.922), rgba(0, 0, 0, 0.856)), url(../../img/image\ 19.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
