@import url('styles.css');



.s-wrapper{
    display: flex;
    height: 100vh;
    flex-wrap: row rowrap;
    background-color: aqua;
}

.s-wrapper .s-left-column{
    width: 100px;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-wrapper .s-main-content {
    height: 100%;
    width: 100%;
    background-color: gray;
    padding-left: 30px;
}

.navigation{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative; 
}

.navigation ul li {
    margin: 60px 0;
}

.navigation ul li:first-child {
   margin-top: 0;
}

.navigation ul li:last-child {
    margin-bottom: 0;
 }